.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  /* max-width: 1440px; */
  width: 100%;
  background: linear-gradient(
    208.67deg,
    #f255c9 -21.16%,
    #c048b0 -14.57%,
    #8e3b97 -7.99%,
    #633082 -0.3%,
    #402770 7.38%,
    #252062 23.73%,
    #111b59 36.17%,
    #061853 63.35%,
    #021751 88.6%
  );
  margin: 0 auto;
}

#banner .banner {
  padding: 64px 0 32px;
}
@media (max-width: 1023px) {
  #banner .banner {
    padding: 24px 0px 32px;
  }
  #banner .banner #title-post {
    font-size: 24px;
  }
}
#banner .banner .title-banner {
  font-family: Oswald;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
#banner .banner .breadcrumb-banner {
  margin-top: 20px;
  text-align: center;
}
#banner .banner .breadcrumb-banner .text-home {
  font-size: 16px;
  line-height: 22px;
  color: #cdc6e7;
  margin-right: 24px;
}
#banner .banner .breadcrumb-banner .text-blog {
  font-size: 16px;
  line-height: 22px;
  margin-left: 24px;
}
#banner .banner .menu-banner {
  margin-top: 60px;
}
@media (max-width: 1023px) {
  #banner .banner .menu-banner {
    margin-top: 30px;
  }
}
#banner .banner .menu-banner .list-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#banner .banner .menu-banner .list-menu .item-menu .link-item {
  font-family: Oswald;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 12px;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (max-width: 1023px) {
  #banner .banner .menu-banner .list-menu .item-menu .link-item {
    margin: 0 8px;
  }
}
@media (max-width: 767px) {
  #banner .banner .menu-banner .list-menu .item-menu .link-item {
    padding: 5px;
    display: inline-block;
  }
}
#banner .banner .menu-banner .list-menu .item-menu .link-item:hover,
#banner .banner .menu-banner .list-menu .item-menu .link-item .active {
  color: #fa784d;
}

#content-blog {
  background: rgba(255, 255, 255, 0.95);
  padding-top: 36px;
}
#content-blog .intro-blog {
  position: relative;
}
#content-blog .intro-blog .bg-intro img {
  margin-left: auto;
  width: 70%;
}
@media (max-width: 767px) {
  #content-blog .intro-blog .bg-intro img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}
#content-blog .intro-blog .info-intro {
  padding: 75px 0 0 48px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #021751 0%,
    #051041 32.35%,
    rgba(5, 16, 65, 0) 70.27%
  );
}
@media (max-width: 1279px) {
  #content-blog .intro-blog .info-intro {
    padding: 25px 0 0 48px;
  }
}
@media (max-width: 1023px) {
  #content-blog .intro-blog .info-intro {
    padding: 15px 0 0 28px;
  }
}
@media (max-width: 767px) {
  #content-blog .intro-blog .info-intro {
    padding: 15px;
  }
}
#content-blog .intro-blog .info-intro p {
  max-width: 592px;
}
#content-blog .intro-blog .info-intro .date {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  padding-left: 84px;
}
@media (max-width: 1023px) {
  #content-blog .intro-blog .info-intro .date {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #content-blog .intro-blog .info-intro .date {
    padding-left: 0;
  }
  #content-blog .intro-blog .info-intro .date::before {
    display: none;
  }
}
#content-blog .intro-blog .info-intro .date::before {
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  left: 0px;
  top: 10px;
  background: rgba(255, 255, 255, 0.35);
}
#content-blog .intro-blog .info-intro .date span {
  margin: 0 10px;
}
#content-blog .intro-blog .info-intro .title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 12px;
}
@media (max-width: 1279px) {
  #content-blog .intro-blog .info-intro .title {
    font-size: 20px;
    line-height: 1.5;
  }
}
#content-blog .intro-blog .info-intro .desc {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
@media (max-width: 1023px) {
  #content-blog .intro-blog .info-intro .desc {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
  }
}
#content-blog .intro-blog .info-intro .button {
  width: 136px;
  height: 44px;
  background: linear-gradient(264.79deg, #fa784d 0%, #cd1bb9 100%);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: all 0.3s;
}
#content-blog .intro-blog .info-intro .button:hover {
  opacity: 0.75;
}
#content-blog .list-post-blog {
  margin-top: 32px;
  color: #000;
}
#content-blog .list-post-blog a {
  color: inherit;
}
#content-blog .list-post-blog .list-post {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
}
#content-blog .list-post-blog .list-post .item-post {
  max-width: 407px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1023px) {
  #content-blog .list-post-blog .list-post .item-post {
    max-width: 300px;
  }
}
#content-blog .list-post-blog .list-post .item-post .wrap-img img {
  width: 100%;
  max-height: 228px;
}
#content-blog .list-post-blog .list-post .item-post .wrap-content {
  padding: 20px;
}
#content-blog .list-post-blog .list-post .item-post .wrap-content .date {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.55);
}
#content-blog .list-post-blog .list-post .item-post .wrap-content .date span {
  margin: 0 10px;
}
#content-blog .list-post-blog .list-post .item-post .wrap-content .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #031752;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  transition: all 0.3s;
}
#content-blog .list-post-blog .list-post .item-post .wrap-content .title:hover {
  color: #fa784d;
}
#content-blog .list-post-blog .list-post .item-post .wrap-content .desc {
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#content-blog .list-post-blog .pagination {
  padding: 32px 0 36px;
}
#content-blog .list-post-blog .pagination .list-page {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-blog .list-post-blog .pagination .list-page .item-page .link-item {
  font-size: 20px;
  line-height: 22px;
  color: rgba(5, 16, 65, 0.6);
  margin: 0 10px;
  transition: all 0.3s;
}
#content-blog
  .list-post-blog
  .pagination
  .list-page
  .item-page
  .link-item:hover {
  color: #051041;
}
#content-blog .list-post-blog .pagination .list-page .item-page .link-active {
  width: 44px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #011348;
  border-radius: 5px;
  border-top: 1px solid #944dfe;
  color: #051041;
}

#content-blog-detail {
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  font-size: 16px;
}
#content-blog-detail a {
  color: #011348;
  transition: all 0.3s;
}
#content-blog-detail a:hover {
  color: #fa784d;
}
#content-blog-detail .article {
  padding: 32px 0;
}
#content-blog-detail .article img {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 100%;
}
#content-blog-detail .article p {
  margin-top: 12px;
}
#content-blog-detail .article ul {
  padding-left: 30px;
  margin-top: 6px;
  line-height: 2;
}
#content-blog-detail .article .fw666 {
  font-weight: 600;
}
#content-blog-detail .article .fz20 {
  font-size: 20px;
}
#content-blog-detail .tagged-topics {
  padding: 36px 0;
}
#content-blog-detail .tagged-topics .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
#content-blog-detail .tagged-topics .hashtags-social {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#content-blog-detail .tagged-topics .hashtags-social .hashtags {
  display: flex;
}
#content-blog-detail .tagged-topics .hashtags-social .hashtags .link-tag {
  font-weight: 600;
  margin-right: 20px;
  width: 119px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-top: 2px solid #402770;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#402770),
    to(#40178d00)
  );
  background-image: -webkit-linear-gradient(#402770, #40178d00);
  background-image: -moz-linear-gradient(#402770, #40178d00),
    -moz-linear-gradient(#402770, #40178d00);
  background-image: -o-linear-gradient(#402770, #40178d00),
    -o-linear-gradient(#402770, #40178d00);
  background-image: linear-gradient(#402770, #40178d00),
    linear-gradient(#402770, #40178d00);
  background-size: 2px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
#content-blog-detail .tagged-topics .hashtags-social .social {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
}
#content-blog-detail .tagged-topics .hashtags-social .social .social-item {
  width: 36px;
  height: 36px;
  background: #051041;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#content-blog-detail .tagged-topics .hashtags-social .social .social-item svg {
  height: 18px;
  color: #fa784d;
}
#content-blog-detail
  .tagged-topics
  .hashtags-social
  .social
  .social-item:hover {
  background-color: #3e6bbb;
}
#content-blog-detail .more-stories {
  padding: 36px 0;
}
#content-blog-detail .more-stories .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
#content-blog-detail .more-stories .list-post {
  margin-top: 32px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
}
#content-blog-detail .more-stories .list-post .item-post {
  max-width: 407px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1023px) {
  #content-blog-detail .more-stories .list-post .item-post {
    max-width: 300px;
  }
}
#content-blog-detail .more-stories .list-post .item-post .wrap-img img {
  width: 100%;
  max-height: 228px;
}
#content-blog-detail .more-stories .list-post .item-post .wrap-content {
  padding: 20px;
}
#content-blog-detail .more-stories .list-post .item-post .wrap-content .date {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.55);
}
#content-blog-detail
  .more-stories
  .list-post
  .item-post
  .wrap-content
  .date
  span {
  margin: 0 10px;
}
#content-blog-detail .more-stories .list-post .item-post .wrap-content .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #031752;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  transition: all 0.3s;
}
#content-blog-detail
  .more-stories
  .list-post
  .item-post
  .wrap-content
  .title:hover {
  color: #fa784d;
}
#content-blog-detail .more-stories .list-post .item-post .wrap-content .desc {
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-blog .link-blog {
  color: #fa784d;
}
/* .bg-blog {
  position: relative;
}
.bg-blog .bg-header {
  background: url(../img/bg-blog.png);
  position: absolute;
  width: 100%;
  height: 652px;
  bottom: 0;
  mix-blend-mode: soft-light;
} */

.page-blog .bg-blog,
.page-blog header,
.page-blog section,
.page-blog footer {
  opacity: 0;
}
