section[id^="advisor-"] {
  padding: 15px 0 50px;
  .title-section {
    text-align: center;
    margin-bottom: 80px;
    @include mobile-only {
      margin-bottom: 25px;
    }
    @include tablet {
      margin-bottom: 50px;
    }
    .title-top-section {
      margin: 0 auto;
    }
  }
}
