.blog-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 96px;
    height: 400px;
    img {
        object-fit: fill;
        height: 100%;
    }
    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        width: 100%;
        align-items: center;
        min-width: 320px;

        @include not-tablet {
            padding-top: 48px;
            padding-bottom: 56px;
            padding-left: 80px;
            padding-right: 36px;
        }

        > a {
            max-width: 300px;
            width: 100%;
        }
    }

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;

        @include not-tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-topic {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        @include not-tablet {
            flex-direction: row;
        }

        &-text {
            margin-bottom: 8px;
            font-size: $font-size-small;
            font-weight: $font-weights-bold;
            text-transform: uppercase;

            @include not-tablet {
                margin-bottom: 0;
            }
        }

        &-time {
            font-weight: $font-weights-bold;
            font-size: 14px;
        }

        &-title {
            color: #fff;
            font-weight: $font-weights-bold;
            margin-bottom: 20px;
            -webkit-line-clamp: 1;
            text-align: center;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            @include not-tablet {
                text-align: left;
            }
        }

        &-description {
            margin-bottom: 36px;
            height: 80px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;

            @include not-tablet {
                text-align: left;
            }
        }
    }

    .line {
        display: block;
        margin-bottom: 16px;
        background-color: #fff;
        width: 40px;
        height: 1px;

        @include not-tablet {
            margin-right: 8px;
            margin-bottom: 0;
        }
    }
}

.blog-hero-detail {
    margin-top: 144px;

    @include mobile-only {
        margin-top: 96px;
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
        width: 100%;
    }

    &-topic {
        margin-bottom: 12px;
        font-size: $font-size-small;
        font-weight: $font-weights-bold;
    }

    &-title {
        margin-bottom: 16px;

        @include not-mobile {
            margin-bottom: 56px;
        }
    }

    &-description {
        margin-bottom: 32px;

        @include not-mobile {
            margin-bottom: 56px;
        }
    }

    &-line {
        background-color: #fff;
        margin-bottom: 40px;
        width: 40px;
        height: 1px;
    }

    &-meta {
        @include not-mobile {
            margin-bottom: 20px;
        }
    }
}

.blog-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include not-mobile {
        margin-bottom: 80px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-category {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 28px;
    }

    &-line {
        margin-right: 8px;
        background-color: #00b871;
        width: 40px;
        height: 1px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        @include mobile-only {
            justify-content: center;
        }
    }

    &-item {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: left;
        max-width: 384px;
        margin: 10px;
        overflow: hidden;
        @include mobile-only {
            max-width: 220px;
            margin: 5px;
        }

        @include tablet {
            max-width: 220px;
            margin: 5px;
        }

        @include desktop {
            max-width: 300px;
        }

        &-cover {
            height: 288px;
            width: 384px;
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 12px;

            @include mobile-only {
                height: 165px;
                width: 220px;
            }

            @include tablet {
                height: 165px;
                width: 220px;
            }

            @include desktop {
                height: 200px;
                max-width: 300px;
            }
        }

        .lazyload-wrapper {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &-image {
            object-fit: cover;
            min-height: 100%;
        }

        &-title {
            margin-bottom: 12px;
            color: #000;
            font-weight: $font-weights-bold;
        }

        &-description {
            margin-bottom: 12px;
            color: #000;
        }
    }

    &-related {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        &-title {
            margin-bottom: 1.5rem;
            font-size: $font-size-medium;
            font-weight: $font-weights-bold;
            color: #000;
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            @include mobile-only {
                justify-content: center;
            }
        }
        &-item {
            display: flex;
            position: relative;
            flex-direction: column;
            text-align: left;
            max-width: 384px;
            margin: 10px;
            overflow: hidden;
            @include mobile-only {
                max-width: 220px;
                margin: 5px;
            }

            @include tablet {
                max-width: 220px;
                margin: 5px;
            }

            @include desktop {
                max-width: 300px;
            }

            &-cover {
                height: 288px;
                width: 384px;
                display: block;
                overflow: hidden;
                position: relative;
                margin-bottom: 12px;

                @include mobile-only {
                    height: 165px;
                    width: 220px;
                }

                @include tablet {
                    height: 165px;
                    width: 220px;
                }

                @include desktop {
                    height: 200px;
                    max-width: 300px;
                }
            }

            .lazyload-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &-image {
                object-fit: cover;
                min-height: 100%;
            }

            &-title {
                margin-bottom: 12px;
                color: #000;
                font-weight: $font-weights-bold;
            }
        }
    }
}
