#contact-us {
  .contact-us {
    .contact-left {
      .form-contact {
        .message-form {
          margin: 24px 0 0;
        }
        .text-left {
          color: red;
          font-size: 12px;
          margin: 3px 5px;
          text-align: left;
        }
        .wrap-but {
          .text-left {
            text-align: center;
          }
        }
      }
    }
  }
}
