#contact {
  margin-top: 40px;
  scroll-margin-top: 150px;
  display: flex;
  align-items: center;
  position: relative;
  @include not-tablet {
    margin-top: 80px;
  }
}

.contact {
  &-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    object-fit: cover;
  }

  &-form {
    max-width: 540px;
    width: 100%;
    z-index: 1;
  }
}
