

#banner-home {
  .banner-home {
    .wrap-banner {
      .title-banner{
        p {
          font-size: 36px;
          margin: 0;
          padding: 0;
          @include mobile-only {
            line-height: unset;
            font-size: 24px;
          }
        }
        h1{
          color: #fff;
          font-size: 60px;
          text-transform: uppercase;
          line-height: 80px;
          border: 0;
          margin: 0;
          padding: 0;
          font-weight: 800;
          @include mobile-only {
            line-height: unset;
            font-size: 24px;
          }
        }
      
        h2 {
          color: #fff;
          font-size: 40px;
          text-transform: uppercase;
          font-weight: 800;
          line-height: 60px;
          border: 0;
          margin: 0;
          padding: 0;
          @include mobile-only {
            line-height: unset;
            font-size: 24px;
          }
        }
      }
      .desc-banner {
        .markdown-body {
          p{
            margin: 11px 0 0;
            color: #cdc6e7;
            line-height: 22px;
          }
          strong {
            font-weight: 700;
            color: #fa784d;
            margin-top: 11px;
          }
        }
       
      }
    }
  }
}