#intro {
  // margin-top: 60px;
  .intro {
    .media-intro {
      .delay-2 {
        animation-delay: -2s;
      }
      .delay-0 {
        animation-delay: 0s;
      }
      button {
        position: absolute;
        top: calc(50% - 28px);
        left: calc(50% - 20px);
        z-index: 1;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 54p;
        @include mobile-only {
          max-width: 25px;
          max-height: 25px;
          top: calc(50% - 10px);
          left: calc(50% - 10px);
        }
      }
      .play-button {
        transform: rotate(-1deg);
        width: 100%;
        height: 100%;
        max-width: 53px;
        max-height: 53px;
        
      }
    }
  }
}
