#introduction {
    padding-top: 40px;
    position: relative;
    @include not-tablet {
        padding-top: 80px;
    }
}

.introduction {
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 1;
        text-align: left;
        @include not-tablet {
            flex-direction: row;
        }
    }
    &-bg {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        min-width: 1680px;
        object-fit: cover;
        z-index: 0;
        height: 800px;
    }
}