#news {
  margin-top: 40px;
  position: relative;

  @include not-tablet {
    margin-top: 80px;
  }
  .news {
    &-bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      img {
        object-fit: cover;
      }
    }
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: flex-start;
      z-index: 1;
      .article {
        margin: 10px;
        flex: 1;
        min-width: 300px;
      }
    }
  }
}
