#mission {
  // margin-top: 80px;
  .mission {
    .info-mission {
      .item-info {
        .text-info {
          .markdown-body {
            font-size: unset;
            color: #FFFFFF;
          }

          /* NOTE: SEO optimize */
          h3 {
            font-size: 20px;
            margin: 0;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}