@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f2641;
    z-index: 21;
    border-bottom: 1px solid #333853;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
  }
}
