ol.breadcrumb {
  display: none;
  list-style-type: none;
  // display: flex;
  align-items: center;

  li:not(:last-child) {
    &::after {
      content: "/";
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  &.article {
    // li a:not(:last-child) {
    //   color: #cdc6e7;
    // }
  }
}