@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(../assets/fonts/Poppins-Regular.woff);
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(../assets/fonts/Poppins-SemiBold.woff);
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(../assets/fonts/Poppins-Bold.woff);
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}