/* Mixin */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$high-res-width: 1280px;

@mixin mobile-portrait {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin not-tablet {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width})and (max-width: #{$high-res-width - 1px}) {
    @content;
  }
}

@mixin not-desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin high-res {
  @media (min-width: #{$high-res-width}) {
    @content;
  }
}

@keyframes rotate-2 {
  0% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}

@keyframes xoay {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}