$bg-light-blue: #252d4b;
$subtilte-color: #acb6da;


$font-size-small:12px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-xMedium: 25px;
$font-size-large: 40px;
$font-size-xLarge: 45px;
$font-weights-normal: 400;
$font-weights-semiBold: 600;
$font-weights-bold: 700;
$letterSpacings-normal: 0;