$bg-light-blue: #252d4b;
$subtilte-color: #acb6da;

$bg-color: #011348;
$bg-white: #fff;

$color-darkGrey: #252d4b;
$color-darkGrey2: #1f2641;
$color-green: "linear-gradient(100.94deg, #16B04B 22.46%, #39B54A 131.92%)";
$color-green2: #00B871;
$color-lightGray: #545C79;
$color-light: #fff;

$font-size-small:12px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-xMedium: 25px;
$font-size-large: 40px;
$font-size-xLarge: 45px;
$font-weights-normal: 300;
$font-weights-semiBold: 600;
$font-weights-bold: 700;
$letterSpacings-normal: 0;