@import "font";
@import "vars";
@import "mixin";
@import "sections/navbar";
@import "sections/announcement";
@import "sections/hero";
@import "sections/introduction";
@import "sections/about";
@import "sections/advisor";
@import "sections/usecases";
@import "sections/team";
@import "sections/road";
@import "sections/news";
@import "sections/services";
@import "sections/contact";
@import "sections/press";
@import "sections/partner";
@import "sections/blog";
@import "sections/footer";
@import "markdown";
@import "aos/dist/aos.css";


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;

    @include mobile-only {
        scroll-margin-top: 10px;
        font-size: 14px;
    }

    @include not-mobile {
        font-size: 15px;
    }

    body {
        height: 100%;
        font-size: 13px;
        position: relative;
        font-family: "Titillium Web", sans-serif;
        display: block;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        width: 100%;

        @media screen and (min-width: 320px) {
            .play-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 136px;
                height: 136px;

                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }

        @include not-tablet {
            .play-button {
                position: absolute;
                width: 205px;
                height: 205px;
                top: 25%;
                left: -102.5px;

                img {
                    position: absolute;
                    width: 69px;
                    height: 69px;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    margin: auto;
                }
            }
        }

        .bg-default {
            background-color: $bg-color;
        }
        .bg-white {
            background-color: $bg-white;
        }

        .main-container {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .container {
            @include mobile-only {
                max-width: 100%;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        h2 {
            @include mobile-only {
                font-size: 28px !important;
                font-weight: $font-weights-normal;
            }
        }

        .scroll-margin-top {
            scroll-margin-top: 150px;
        }

        img:hover {
            opacity: 1;
            transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        .form-field {
            font-family: inherit;
            font-size: 14px;
            color: #fff;
            background: #252d4b;
        }

        .form-field::placeholder {
            color: #4b5065;
            font-weight: 700;
        }

        .dropdown {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: transparent;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .article-container {
            max-width: 730px;
        }

        .notification-banner-content h1,
        .notification-banner-content h2,
        .notification-banner-content h3,
        .notification-banner-content h4,
        .notification-banner-content h5,
        .notification-banner-content h6,
        .notification-banner-content a,
        .notification-banner-content div,
        .notification-banner-content p {
            display: inline-block;
            text-align: center;
            color: #fff;
        }

        .notification-banner-content h1:last-child,
        .notification-banner-content h2:last-child,
        .notification-banner-content h3:last-child,
        .notification-banner-content h4:last-child,
        .notification-banner-content h5:last-child,
        .notification-banner-content h6:last-child,
        .notification-banner-content a:last-child,
        .notification-banner-content div:last-child,
        .notification-banner-content p:last-child {
            margin-bottom: 0;
        }

        .notification-banner-content a {
            text-decoration: underline;
        }

        .oneline-text {
            -webkit-line-clamp: 1;
        }

        .twoline-text {
            -webkit-line-clamp: 2;
        }

        .threeline-text {
            -webkit-line-clamp: 3;
        }

        .multiline-ellipsi {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .play-button {
            background-size: cover;
            background-image: url("/images/play_btn_bg.png");
        }

        .play-button img:hover {
            border-radius: 50%;
            -webkit-box-shadow: 0 0 21px rgba(0, 214, 229, 0.79);
            box-shadow: 0 0 21px rgba(0, 214, 229, 0.79);
        }

        .collapsible_trigger {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 28px 8px 28px;
            border: 1px solid #bebebe;
        }

        .collapsible_trigger__left_col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .trigger-icon {
            flex-shrink: 0;
            transition: 0.4s ease;
        }

        .bg-default {
            background-color: $bg-color;
        }

        .Collapsible__trigger.is-open .trigger-icon {
            transform: rotate(90deg);
        }

        .page-min-h {
            min-height: calc(100vh - 150px);
        }
    }
}