@import "font";
@import "css/style.css";
@import "css/style-index.css";
@import "css/page-home.css";
@import "vars";
@import "mixin";
@import "elements/popover";
@import "sections/announcement";
@import "sections/hero";
@import "sections/notification";
@import "sections/introduction";
@import "sections/advisor";
@import "sections/team";
@import "sections/road";
@import "sections/news";
@import "sections/services";
@import "sections/contact";
@import "sections/press";
@import "sections/partner";
@import "sections/footer";
@import "page";
@import "blog";
@import "markdown";

html {
  scroll-behavior: smooth;
}
// body {
  // overflow: inherit;
// }
#__next {
  position: relative;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}
.wrap-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.language {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 0 10px;
  @media (max-width: 767.98px) {
    margin-right: 30px;
  }
  &-menu {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 0 4px;
    background: transparent;
    border: none;
    font-size: 17px;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  &-content {
    transform-origin: top left;
    left: -25px;
    position: absolute;
    margin-top: 8px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
    }
  }
}
.ib-eye-catcher__text-bubble {
  color: #000;
}
// @include tablet {
//   #page-home #background-4 {
//     top: 5609px;
//   }
// }
// @include mobile-only {
//   #page-home #background-4 {
//     position: absolute;
//     width: 100%;
//     height: 1747px;
//     top: 5609px;

//   }
// }
#footer {
  z-index: 2;
}
.z-index-1 {
  z-index: -1 !important;
}